---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       rgba(0,0,0,.7);
$background-color: #f4f4f4;
$brand-color:      #c25e15;
$brand-color-secondary:      #007B84;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          660px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.wrapper {
	max-width: 100%;
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
}



// My styles

body {
	font-family: "Raleway", Helvetica, sans-serif;
	border-top: 5px solid $brand-color;
}

.clear {
	clear: both;
}

.alpha, .beta, .gamma {
	margin-top: 1.5em
}

.alpha {
	font-size: 1.7em;
    font-weight: 600;
}
.beta{
	font-weight: 600;
	letter-spacing: .18em;
	text-transform: uppercase;
	font-size: 1em;
} 
.gamma{
	color: $brand-color-secondary;
	font-weight: 600;
} 
.delta{

}
small {
	font-size: .9em;
	font-weight: 600;
}

header.site-header {
		font-size: .8em;
	    text-transform: uppercase;
	    background: #ffffff;
	    font-weight: 600;
	    letter-spacing: .18em;
	h1 {
	    font-size: .5em;
	    font-weight: bold;
	    letter-spacing: .18em;
	    background-image: url('/img/logo.jpg');
	    background-size: 27px;
	    background-repeat: no-repeat;
    	background-position: 0px 8px;
    	padding-left: 35px;
    	margin-bottom: 0;
        padding-top: 5px;
	}
	a:hover, .site-title a:hover {
	}
	.site-title, .site-nav {
		float: left;
	}
	ul {
		margin-left: 1em
	}
	ul li {
	    border-left: solid 1px rgba(160, 160, 160, 0.3);
	    line-height: 1;
	    margin-left: .7em;
	    padding-left: 1.1em;
	    list-style-type: none;
	    display: inline-block;
	}
	ul li:first-child {
	    border-left: 0;
	    margin-left: 0;
	    padding-left: 0;
	}
}
.sidebar {
	width: 12.5em;
	float: left;
    margin-right: 3em;
    letter-spacing: .18em;
    .logo {
	    margin: 0 auto;
	    width: auto;
	    display: block;
	    margin-bottom: 40px;
    }
    h2 {
    	text-transform: uppercase;
	    font-size: .8em;
	    font-weight: 500;
    }
    nav {
    	text-transform: uppercase;
    	border-top: solid 1px rgba(160, 160, 160, 0.3);
    	margin-top: 3em;
    	padding-top: 2.3em;
    	font-weight: 600;
    	ul {
    		margin-left: 0;
    	}
    	li {
    		list-style-type: none;
    		padding:  .7em 0;
    	}
    }
    h1 {
		font-size: 2.45em;
	    font-weight: 900;
		letter-spacing: .18em;
		text-transform: uppercase;
    	color: $text-color;

	}
	a.home:hover {
		text-decoration: none;
	}
}
article {
	background-color: #fff;
	padding: 3em;
	margin-bottom: 3em;
	header {
	    margin: -3em -3em 3em -3em;
	    padding: 1.5em 3em 1.5em 3em;
	    border-bottom: 2px solid rgb(20, 143, 154);
    	h1 {
    		margin-bottom: 0;
		    font-size: 1.7em;
		    font-weight: 600;
		    float: left;
		    width: 80%
    	}
    	address {
    		float: left;
    		width: 20%;
    	}
	}
}
header.page-heading {
	background-color: #f4f4f4;
	address {
	    line-height: 3.1em;
	    text-align: right;
	}
}

.header-wrapper {
	margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}


.content {
	width: 100%;
	float: left;
}
.two-col {
	float: left;
	margin-top: 3em;
	&.wide {
		width: 70%;
		padding-right: 1.5em;
	    box-sizing: border-box;
	}
	&.narrow {
		width: 30%;
		padding-left: 1.5em;
	    box-sizing: border-box;
	}
}
.excerpt {
	margin-top: 3em;
}

.portfolio article {
	width: 50%;
	box-sizing: border-box;
	float: left;
	padding: 0;
	background: none;
		header {
			margin: 0;
			background: #fff;
			min-height: 48px;
			.beta {
				margin-top: 0;
			}
		}
		&:nth-child(odd) {
	    padding-right: 1.5em;
	}
		&:nth-child(even) {
	    padding-left: 1.5em;
	}
	h1 {
		width: 100%;
	}
}
.video {
	width: 100%;
}
.post img {
	margin-bottom: 3em;
	&.narrow {
	margin-bottom: 0;
	}
}
.post .beta {
	margin-top: 0;
}


@media screen and (min-width: 1024px) {
	header.site-header {
		display: none;
	}
	footer {
		display: none;
	}
	.content {
	    width: 70%;
	    float: left;
	    max-width: 840px;
	}
}
@media screen and (max-width: 1023px) {
	.sidebar {
		display: none;
	}
}
@media screen and (min-width: 800px) {
	.header-wrapper {
	    padding-right: 30px;
	    padding-left: 30px;
	}
}

@media screen and (max-width: 660px) {
    .two-col {
    float: none;
    margin-top: 3em;
	    &.wide {
	        width: 100%
	    }
	    &.narrow {
	        width: 100%;
	    }
	}
	article {
		padding: 1em;
		header {
			margin: -3em -16px 3em -16px;
		    padding: 1.5em 15px 1.5em 15px;
		}
	}
	.portfolio article {
		float: none;
		width: 100%;
		&:nth-child(odd) {
		    padding-right: 0;
		}
			&:nth-child(even) {
		    padding-left: 0;
		}
	}
	article header h1, article header address {
		float: none;
		width: 100%;
		text-align: left;
	}
	header.page-heading address {
		text-align: left;
		line-height: 1.1em;
		p {
			margin-bottom: 0;
		}
	}


}









